@import "/src/scss/themes/theme-dark.scss";
@import "/src/scss/themes/theme-light.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");
@import "~react-image-gallery/styles/scss/image-gallery.scss";

html {
  font-size: 75%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {
  height: 50px;
}

.title-styles {
  font-family: "Raleway", sans-serif;
  font-size: 250%;
}

.header-image {
  margin-top: 2vh;
  width: 35vw;
}

.header-icon {
  height: 150px;
  width: 150px;
}

header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
  color: white;
  background-size: contain;
  -webkit-background-size: cover;
  text-align: center;

  background-color: hsla(200, 40%, 30%, 0.4);
  background-image: url("../public/images/wallpaper.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 4vh;
  // padding-bottom: 10vh;
}
header .nav {
  font: 24px/32px "Helvetica Neue";
  text-transform: uppercase;
  letter-spacing: 5px;
}
.nav-link {
  font: 3vmin/4vmin "Helvetica Neue";
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(237, 235, 235);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.language-icon {
  font-size: 50px;
  cursor: pointer;
}

.project-date {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px 15px 2px 15px;
  position: relative;
  z-index: -500;
  border-top: 5px solid #696969;
  border-radius: 0 0 5px 5px;
  background-color: #696969;
  color: white;
}

.skills-tile {
  background-color: transparentize(#f8f5f4, 0.95);
  padding: 10px 10px 5px 10px;
  width: 100px;
  margin: 5px 0 5px 0;
  border-radius: 8px;
}

.language {
  font-size: 25px;
  background-color: #e9d5a1;
  padding-bottom: 10px;
  padding-top: 80px;
}

header h1 {
  font-size: 400%;
  text-align: center;
  font-weight: 600 !important;
  color: #ffffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0 auto 18px auto;
  width: 100%;
}

.slider-image {
  border: 5px solid rgb(53, 53, 53);
  border-radius: 10px;
}

.slider-tab {
  background-color: rgb(53, 53, 53);
  border-radius: 5px;
  height: 30px;
  margin-bottom: 5px;
}

.slider-iconfiy {
  margin-top: 10px;
  padding-inline: 2px;
}

.styles_typicalWrapper__1_Uvh::after {
  cursor: none !important;
  display: none;
}

#about {
  background-image: linear-gradient(
    to right top,
    #061123,
    #0c1a2d,
    #122237,
    #172a41,
    #1d334c
  );
  overflow: hidden;
  padding-bottom: 10vh;
}

#about h1 {
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font: 18px/24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: whitesmoke;
  text-align: center;
}

.foto img {
  display: block;
  width: 100%;
  margin: 0 auto;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.foto div {
  background: #ffffff;
  display: inline-block;
  margin: 0 auto 5% auto;
  padding: 10px 10px 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}

.foto div:after {
  color: #333;
  font-size: 25px;
  content: attr(title);
  position: relative;
  top: 15px;
}

.foto div:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  transform: scale(1.01);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.project-title-settings {
  margin-top: 5%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: black;
  text-align: center;
}
.polaroid {
  background-color: #061123;
  border-radius: 5px;
}

.polaroid img {
  -moz-box-shadow: 0 0 6px rgb(132, 132, 132);
  -webkit-box-shadow: 0 0 6px rgb(132, 132, 132);
  box-shadow: 0 0 6px rgb(132, 132, 132);
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px 2px;
  display: block;
  max-width: 600px;
}

.polaroid span {
  background-image: linear-gradient(
    to right top,
    #061123,
    #0c1a2d,
    #122237,
    #172a41,
    #1d334c
  );
  display: inline-block;
  margin: 55px 75px 60px;
  padding: 15px 15px 30px;
  text-align: center;
  border-radius: 3px;

  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}

.link-href {
  color: black;
}

.wave {
  font-size: 160%;
}

.font-trebuchet {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#preview {
  width: 500px;
  background-color: black;
  padding: 15px;
  position: relative;
  margin-bottom: 15%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#resume {
  background-image: linear-gradient(
    to right top,
    #061123,
    #0c1a2d,
    #122237,
    #172a41,
    #1d334c
  );
}

#resume h1 {
  font-size: 1.5vmax;
}

.experience-icon {
  font-size: 300%;
  margin-top: 25%;
  text-align: center;
}

.main-badge {
  font-size: 13px !important;
  text-align: left !important;
  padding: 5px 8px 5px 8px !important;
  vertical-align: baseline;
  background-color: #061123 !important;
  color: white;
  font-weight: lighter !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.experience-badge {
  font-size: 11px !important;
  text-align: left !important;
  padding: 5px 8px 5px 8px !important;
  vertical-align: baseline;
  background-color: #f9f5e9 !important;
  color: black;
  font-weight: lighter !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.vertical-timeline-element-date {
  color: whitesmoke;
  padding: 0 !important;
  margin: 0 !important;
}

@media only screen and (max-width: 1170px) {
  .experience-icon {
    font-size: 170%;
    margin-top: 27%;
    text-align: center;
  }
}

.modal-inside .modal-content {
  // background-color: #1f1f1f;
  background-image: linear-gradient(
    to right top,
    #061123,
    #0c1a2d,
    #122237,
    #172a41,
    #1d334c
  );
  color: rgb(198, 211, 231);
  max-width: 100%;
}
.modal-content {
  background-image: linear-gradient(
    to right top,
    #061123,
    #0c1a2d,
    #122237,
    #172a41,
    #1d334c
  );
  padding: 10px 20px 20px 20px;
}

.modal-description {
  text-align: justify;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
  background-image: linear-gradient(
    to right top,
    #061123,
    #0c1a2d,
    #122237,
    #172a41,
    #1d334c
  );
}
.modal-iframe {
  width: 100vw;
  max-width: 100%;
  height: 85vh;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;
  border-bottom: 5px solid #061123;
}

.made-with {
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  background-image: linear-gradient(
    to right top,
    #061123,
    #0c1a2d,
    #122237,
    #172a41,
    #1d334c
  );
}
.bars {
  width: 95%;
  float: left;
  padding: 0;
  text-align: left;
}

.bars .skills {
  margin-top: 36px;
  list-style: none;
}

.bars li {
  position: relative;
  margin-bottom: 60px;
  background: #ccc;
  height: 42px;
  border-radius: 3px;
}

.bars li em {
  font: 15px "opensans-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  position: relative;
  top: -36px;
}

.bar-expand {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding-right: 24px;
  background: #313131;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  border-radius: 3px 0 0 3px;
}
input {
  background-color: #333;
  border-radius: 5px;
  color: white;
}

.awssld__next {
  outline: none !important;
}

.awssld__prev {
  outline: none !important;
}

.loader-bar-color {
  color: black !important;
}

#portfolio {
  background-image: linear-gradient(
    to right top,
    #061123,
    #0c1a2d,
    #122237,
    #172a41,
    #1d334c
  );
  padding-bottom: 5%;
}

#portfolio h1 {
  font-size: 1.5vmax;
}

.portfolio-item {
  max-width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(51, 51, 51, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio
  .portfolio-item
  .portfolio-item-caption
  .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio .closeButtonResponsive {
    display: block;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

#skills {
  background: #1f1f1f;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10%;
}

#skills h1 {
  font-size: 1.5vmax;
}

.section-title {
  padding-top: 5%;
  padding-bottom: 5%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
}

.skill-icon {
  font-size: 180%;
  color: white;
  text-align: center;
  position: relative;
}

footer {
  background: #1f1f1f;
  min-height: 100px;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  color: white;
  position: relative;
  text-align: center;
  padding: auto;
  // margin: 0;
}

footer a,
footer a:visited {
  color: #fff;
}

footer a:hover,
footer a:focus {
  color: #fff;
}

.social-links {
  margin-top: 10px;
  font-size: 22px;
}

.card {
  background-image: linear-gradient(
    to right top,
    #061123,
    #0c1a2d,
    #122237,
    #172a41,
    #1d334c
  );
  color: rgb(198, 211, 231);
  max-width: 100%;
}

.image-gallery-image {
  border-radius: 5px;
}
